# ========================
# Build Artifacts
# ========================
build/
*.o
*.obj
*.exe
*.out

# ========================
# VSCode (pessoal)
# ========================
.vscode/settings.json

# ========================
# Sistema Operacional
# ========================
Thumbs.db
Desktop.ini
.DS_Store

# ========================
# Misc
# ========================
*.log
*.tmp
